$new: rgb(168, 1, 1);
$in-progress: rgb(226, 109, 0);
$needs-review: #deb900;
$completed: #00B961;

body {
  background: #33363D;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #757575;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.drag-column {
  .drag-column-header > div {
    width: 100%;
    h2 > a {
      float: right;
    }
  }

  .drag-column-footer > div {
      border-top: 1px solid #6c757d;
      margin-left: 10px;
      margin-bottom: 10px;
      text-align: center;
      a {
          margin-top: 10px;
          text-decoration: none;
          color: white;
          &:hover {
              text-decoration: underline;
          }
      }
  }

  &-new {
    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $new;
    }
  }

  &-in-progress {
    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $in-progress;
    }
  }

  &-needs-review {
    .drag-column-header,
    .is-moved,
    .drag-options{
      background: $needs-review;
    }
  }

  &-completed {
    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $completed;
    }
  }
}

.section {
  padding: 20px;
  text-align: center;

  a {
    font-size: 1.4rem;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }
  .btn {
    text-decoration: none;
  }

  h1 {
    font-weight: 400;
    color: white;
    a {
      font-weight: 600;
    }
  }
}

.debug {
  max-width: 800px;
  margin: 20px auto;
}

#modal {
  .modal-body {
    textarea.form-control {
      height: 200px;
    }
  }
}